body {
    overflow: hidden;
}
ul.sortable {
    list-style: none;
    padding-left: 0;
}
ul#shelf {
    height: 100%;
}
ul.sortable li {
    float: left;
    width: 96px;
    height: 54px;
}
.placeholder {
    width: 95px;
    height: 54px;
}
#timeline {
    margin: 0;
    min-width: 54px;
    min-height: 54px;
    width: 100%;
    height: 100%;
    border: 3px solid white;
    padding: 1em;
    padding-right: 80px;
}
#content {
    position: absolute;
    left: 0; top: 0;
    right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sortable li {
    cursor: pointer;
}
li.text {
    background: black;
    color: white;
    display: flex;
    margin: auto;
    box-sizing: border-box;
}
li.text p {
    padding: 3px;
    font-size: 7px;
    margin: auto;
    text-align: center;
}
/* TOP + TIMELINE */

#top {
    background: white;
    display: flex;
    flex: 1 1 auto;
    min-height: 0px;
}

#timeline-div {
    /* as big as it needs to be -- an no bigger */
    flex: 0 0 80px;
    background: #EEE;
    height: 80px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

/* TOP */

#videodiv {
    flex: 3 1 auto;
    position: relative;
    min-width: 66%;
}
video {
    /*display: none;*/
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
}
.flexbox-centering {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#text {
    position: absolute;
    display: none;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    box-sizing: border-box;
    background: #101010;
    color: #E0E0E0;    
}
#text.visible {
    display: block;
}
#text-content {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    text-align: center;
}
#text-content p {
    margin: auto;
    width: 100%;
}
/*https://developer.mozilla.org/en-US/docs/Web/CSS/flex*/
#shelf-div {
    margin-left: 1em;
    background: white;
    flex: 1 1 auto;  
    overflow: auto;
    height: 100%;
}

button#play {
}
button#play.playing {
    background: black;
    color: white;
}

input[type=checkbox] {
    display:none;
}

input[type=checkbox] + label
{
    position: relative;
    top: 13px;
   background: white;
   background-image: url("icons/die.svg");
   background-size: 54px;
   height: 54px;
   width: 54px;
   display:inline-block;
   padding: 0 0 0 0px;
}
   
input[type=checkbox]:checked + label
{
    background: black;
   background-image: url("icons/die_white.svg");
   background-size: 54px;
    height: 54px;
    width: 54px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#random[type=checkbox] {
    background: white;
    width: 54px;
    height: 54px;
}
